


<div>
    <br />
    <author-nav id="authornav"></author-nav>
</div>


<div ng-controller="BooksController as vm">

    <div class="panel">

        <div class="panel-heading">
            <div class="pull-left">
                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#bookModal"><span class="glyphicon glyphicon-plus-sign"></span>Add New Book</button>
            </div>
            <div class="pull-right">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="bookSearch" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="panel-body">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Publishing Date</th>
                        <th>Price</th>
                        <th>Publishing House</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="b in vm.Books | filter: bookSearch">

                        <td>
                            <img height="50" width="50" ng-src="http://localhost:9235/UploadImage/{{b.Image}}" alt="{{b.Image}}" />

                        </td>
                        <td>{{b.Title}}</td>
                        <td>{{b.Isbn}}</td>
                        <td>{{b.PublishingDate | date: 'yyyy'}}</td>
                        <td>{{b.Price}}</td>
                        <td>{{b.PublishHouse}}</td>


                    </tr>
                    <tr ng-if="vm.Books.length==0">
                        <td colspan="4" class="text-center">There have no Book to display.</td>
                    </tr>
                </tbody>
            </table>
            
            <pre>Showing Total: {{vm.Books.length}}</pre>

            <div class="text-center">
                <!-- pager -->
                <ul ng-if="vm.pager.pages.length" class="pagination">
                    <li ng-class="{disabled:vm.pager.currentPage === 1}">
                        <a ng-click="vm.setPage(1)">First</a>
                    </li>
                    <li ng-class="{disabled:vm.pager.currentPage === 1}">
                        <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
                    </li>
                    <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                        <a ng-click="vm.setPage(page)">{{page}}</a>
                    </li>
                    <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                        <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
                    </li>
                    <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                        <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Book</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-4 col-md-4">

                                <div style="background-color: lightgrey; width: 204px; border: 2px solid green;">
                                    <img id="imageView" height="200" width="200" src="../Content/Image/icon_image.jpg" class="img-rounded">
                                </div>
                                <br />
                                <div>
                                    <div class="fileUpload btn btn-primary">
                                        <span class="glyphicon glyphicon-cloud-upload"></span> Upload
                                        <input type="file" class="upload" onchange="angular.element(this).scope().setFile(this,'add')" />
                                    </div>
                                    <br /><br />

                                    <input type="text" size="18" placeholder="Choose File" ng-model="filename" disabled="disabled" />
                                    <div class="text-danger" ng-if="states.errorFile">Please Upload Image.</div>
                                </div>

                            </div>
                            <div class="col-sm-8 col-md-8">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Title </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="title" ng-model="new.Book.Title" ng-keyup="errorTitleStateChange(new.Book.Title)" aria-describedby=" addTitle" required="required">
                                        <div class="text-danger" ng-if="states.errorTitle">Please field required.</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">ISBN </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="isbn" ng-model="new.Book.Isbn" ng-keyup="errorIsbnStateChange(new.Book.Isbn)" aria-describedby=" addIsbn" required="required">
                                        <div class="text-danger" ng-if="states.errorIsbn">Please field required.</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Publishing Date</label>
                                    <div class="col-md-8">

                                        <div class="input-group">
                                            <input type="text" class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" ng-model="new.Book.PublishingDate" ng-click="errorPubDateStateChange(new.Book.PublishingDate)" ng-change="errorPubDateStateChange(new.Book.PublishingDate)" aria-describedby="addDate" required="required" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <div class="text-danger" ng-if="states.errorPubDate">Please field required.</div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Price </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="price" ng-model="new.Book.Price" ng-keyup="errorPriceStateChange(new.Book.Price)" aria-describedby=" addPrice" required="required">
                                        <div class="text-danger" ng-if="states.errorPrice">Please field required.</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">Publishing House</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="pubHouse" ng-model="new.Book.PublishHouse" ng-keyup="errorPubHouseStateChange(new.Book.PublishHouse)" aria-describedby=" addPubHouse" required="required">
                                        <div class="text-danger" ng-if="states.errorPubHouse">Please field required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div id="msgView" class='alert alert-block alert-dismissable fade in' style="text-align:center;">{{Message}}</div>
                    <button type="button" class="btn btn-primary" ng-click="saveBook()"> Save</button>
                    <button type="button" class="btn btn-default" ng-click="clearBookForm(false)" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy-mm-dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })

    })

</script>



