
<div>
    <br />
    <author-nav id="authornav"></author-nav>
</div>


<div ng-controller="AuthorController as author">

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Author Details
            </h3>

            <div class="row">
                <div class="col-lg-9">
                    <h1><b>{{author.authorInfo.FirstName}}&nbsp;{{author.authorInfo.LastName}}</b></h1>
                </div>

                <div class="col-lg-3">

                    <a ui-sref="/delete({authorId : author.authorInfo.AuthorId})" class="btn btn-md btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>Delete
                    </a>
                    &#09;&#09;

                    <button type="button" class="btn btn-md btn-warning" data-toggle="modal" data-target="#editAuthorModal" ng-click="EditAuthorModel(Author)"><span class="glyphicon glyphicon-pencil"></span>Edit</button>


                    <!--<a href="#!/Edit/{{Author.AuthorId}}" class="btn btn-md btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>Edit
                    </a>-->

                </div>



            </div>

        </div>

        <div class="panel-body">
            <div class="table-responsive">
                <table class="table  table-bordered">
                    <thead>

                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <h3>Name</h3>
                                {{author.authorInfo.Initials}}&nbsp;{{author.authorInfo.FirstName}}&nbsp;{{author.authorInfo.LastName}}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h3>Address</h3>
                                <span>House: {{author.authorInfo.Address}} </span> <br />
                                <span>Zip Code: {{author.authorInfo.ZipCode}}</span> <br />
                                <span>Country: {{author.authorInfo.Country}}</span>
                            </td>
                        </tr>





                    </tbody>
                </table>
            </div>

            <div class="pull-right">
                <a href="/" class="btn  btn-md btn-primary">Back To List</a>
            </div>
        </div>
                

        <div class="modal fade" id="editAuthorModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Authority</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="control-label col-md-4">Initials:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="initials" ng-model="author.authorInfo.Initials" ng-keyup="vm.errorInitStateChange(author.authorInfo.Initials)" aria-describedby=" addInitials" placeholder="Please Set Initials" required="required">
                                    <div class="text-danger" ng-if="vm.states.errorInitials">Please field required.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">First Name:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="firstName" ng-model="author.authorInfo.FirstName" ng-keyup="vm.errorFNameStateChange(author.authorInfo.FirstName)" aria-describedby=" addFirstName" placeholder="Please Set First Name" required="required">
                                    <div class="text-danger" ng-if="vm.states.errorFirstName">Please field required.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Last Name:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="lastName" ng-model="author.authorInfo.LastName" ng-keyup="vm.errorLNameStateChange(author.authorInfo.LastName)" aria-describedby=" addLastName" placeholder="Please Set LastName Name" required="required">
                                    <div class="text-danger" ng-if="vm.states.errorLastName">Please field required.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Address:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="address" ng-model="author.authorInfo.Address" ng-keyup="vm.errorAdrStateChange(author.authorInfo.Address)" aria-describedby=" addAddress" placeholder="Please Set Address" required="required">
                                    <div class="text-danger" ng-if="vm.states.errorAddress">Please field required.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Zip Code:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="zidcode" ng-model="author.authorInfo.ZipCode" ng-keyup="vm.errorZipStateChange(author.authorInfo.ZipCode)" aria-describedby=" addZipCode" placeholder="Please Set Zip Code" required="required">
                                    <div class="text-danger" ng-if="vm.states.errorZipCode">Please field required.</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Country:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="country" ng-model="author.authorInfo.Country" ng-keyup="errorCntryStateChange(author.authorInfo.Country)" aria-describedby=" addCountry" placeholder="Please Set Country Name" required="required">
                                    <div class="text-danger" ng-if="vm.states.errorCountry">Please field required.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div id="emsgView" class='alert alert-block alert-dismissable fade in' style="text-align:center;">{{vm.Message}}</div>
                        <button type="button" class="btn btn-primary" ng-click="vm.updateAuthor(author.authorInfo)"> Edit</button>
                        <button type="button" class="btn btn-default" ng-click="vm.clearAuthorForm(false)" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
